body{
    background-color: #F2F2F2;
    color: #402F2F;
}

h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    text-align: center;
}

p{
    color: #402F2F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.filtros{
    display: flex;
    flex-direction: column;
    background-color: #D989B5;
    box-shadow: 3px 3px 3px #F294A5;
    margin: 3%;
    padding: 3%;
    border-radius: 20px;
}

input{
    display: flex;
    border-radius: 10px;
    border: none;
}

select{
    color: #402F2F;
    background-color: #f2f2f2;
    border: none;
    border-radius: 50px;
    height: 20px;
}

.cursos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem; /* Espacio entre las tarjetas, aumentado para mayor separación */
    margin-top: 2rem; /* Espacio superior */
    padding: 1rem; /* Espacio interno */
    box-shadow: 5px 5px 5px #D989B5;
}

footer{
    background-color: #D989B5;
    color: #402F2F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
}