h3{
    text-align: center;
}

.behind{
    border-radius: 10px;
    background-color: #f29faebf;
    padding: 2px;
}

.begin{
    display: flex;
    flex-direction: column;
    margin: 3%; 
}

input{
    border: none;
    border-radius: 5px;
}

button{
    color: #402F2F;
    background-color: #D989B5;
    border-radius: 10px;
    border: none;
}

button:hover{
    color: #f2f2f2;
    background-color: #402F2F44;
}

.star {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

.star p {
    text-align: center;
}

.star label {
    font-size: 20px;
}

input[type="radio"] {
    display: none;
}

label {
    color: grey;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
    color: black;
}

input[type="radio"]:checked ~ label {
    color: black;
}

p{
    color: #402F2F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}