body{
    background-color: #f2f2f2;
}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #402F2F;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #402F2F;
}

p{
    color: #402F2F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    color: #402F2F;
    text-decoration: none;
}

a:hover{
    color: #f2f2f2;
    text-decoration: none;
}

input{
    border-radius: 10px ;
    border: none;
}

label{
    color: #f2f2f2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.col-9{
    text-align: center;
}

button{
    color: #402F2F;
    background-color: #F294A5;
    border-radius: 10px;
    border: none;
}

button:hover{
    color: #f2f2f2;
    background-color: #402F2F44;
}

.col-4{
    display: flex;
    flex-direction: column;
    margin: 4%;
}

.col-6{
    color:#402F2F;
    display: flex;
    background-color: #D989B5;
    flex-direction: column;
    justify-content: center;
    border-radius: 10%;
    box-shadow: 3px 3px 3px #D989B5;
}

.move{
    display: flex;
    justify-content: center;
    margin: 10%;
}
