body{
    background-color: #f2f2f2;
}

.registro{
    display: flex;
    flex-direction: column;
    background-color: #D989B5;
    box-shadow: 3px 3px 3px #F294A5;
    margin: 3%;
    padding: 3%;
    border-radius: 20px;
}

label{
    color: #402F2F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

h3{
  color: #402F2F;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
}

p{
  color: #402F2F;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pie{
    color: #FFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.final{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

button{
  color: #FFFF;
  background-color: #D989B5;
  border-radius: 10px;
  border-color: none;
}

button:hover{
  color: #f2f2f2;
  background-color: #402f2f44;
}

a{
  color: #FFFF;
  text-decoration: none;
}

a:hover{
  color: #402F2F;
}

.pie2{
    margin: 1%;
}

input{
  color: #402F2F;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50px;
  width: 100%;
  height: 20px;
  margin: 5px;
}

::placeholder { color: #402F2F; }

select{
  color: #402F2F;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50px;
  width: 100%;
  height: 20px;
  margin: 5px;
}