.card-header{
    color: #402F2F;
    background-color: #D989B5;
}

h3{
    color: #402F2F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th{
    color: #402F2F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

tbody{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}